@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fp-color-primary: rgba(44,44,44,1);
    --fp-color-secondary: rgba(44,44,44,1);
    --fp-color-accent-00: rgba(249,161,0,1);
    --fp-color-accent-01: rgba(245,135,9,1);
    --fp-color-accent-02: rgba(241,108,18,1);
    --fp-color-accent-03: rgba(238,82,28,1);
    --fp-color-decorative-00:rgba(224,222,222,1);
    --fp-color-decorative-01: rgba(44,44,44,0.4);
    --fp-color-background-00: rgba(255,255,255,1);
    --fp-color-background-01: rgba(245,245,245,1);
    --fp-color-background-02: rgba(240,240,240,1);
     --fp-color-danger: rgba(200,32,32,1);

    --background: hsl(36 39% 88%);
    --foreground: hsl(36 45% 15%);
    --primary: hsl(36 45% 70%);
    --primary-foreground: hsl(36 45% 11%);
    --secondary: hsl(40 35% 77%);
    --secondary-foreground: hsl(36 45% 25%);
    --accent: hsl(36 64% 57%);
    --accent-foreground: hsl(36 72% 17%);
    --destructive: hsl(0, 83%, 45%);
    --destructive-foreground: hsl(0 0% 98%);
    --muted: hsl(36 33% 75%);
    --muted-foreground: hsl(36 45% 25%);
    --card: hsl(36 46% 82%);
    --card-foreground: hsl(36 45% 20%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --border: hsl(36 45% 60%);
    --input: hsl(36 45% 60%);
    --ring: hsl(36 45% 30%);
    --radius: 0rem;
  }

  .dark {
    --fp-color-primary: rgba(255,255,255,1);
    --fp-color-secondary: rgba(255, 255, 255,0.6);
    --fp-color-accent-00: rgba(255,170,15,1);
    --fp-color-accent-01: rgba(255,143,15,1);
    --fp-color-accent-02: rgba(255,113,25,1);
    --fp-color-accent-03: rgba(255,87,29,1);
    --fp-color-decorative-00: rgba(65,65,65,1);
    --fp-color-decorative-01: rgba(255,255,255,0.4);
    --fp-color-background-00: rgba(23,22,22,1);
    --fp-color-background-01: rgb(32,31,32,1);
    --fp-color-background-02: rgb(32,31,32,1);
    --fp-color-danger: rgba(200,32,32,1);
  
    --background: rgb(15 23 42);
    --foreground: hsl(210 40% 98%);
    --primary: hsl(210 40% 30%);
    --primary-foreground: hsl(210 40% 98%);
    --secondary: hsl(210 35% 23%);
    --secondary-foreground: hsl(210 40% 90%);
    --accent: hsl(210 64% 43%);
    --accent-foreground: hsl(210 72% 95%);
    --destructive: hsl(0, 63%, 55%);
    --destructive-foreground: hsl(0 0% 98%);
    --muted: hsl(210 33% 25%);
    --muted-foreground: hsl(210 40% 75%);
    --card: hsl(210 46% 18%);
    --card-foreground: hsl(210 40% 90%);
    --popover: hsl(210 40% 10%);
    --popover-foreground: hsl(210 40% 98%);
    --border: var(--fp-color-decorative-00);
    --input: hsl(210 40% 40%);
    --ring: hsl(210 40% 70%);
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    /* @apply bg-[--background] text-[--foreground]; */
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* @apply font-heading; */
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--fp-color-decorative-00);
  border-radius: 3px;
}
